.layout-component {
	font-family: Montserrat, sans-serif;
	color: var(--text-primary);

	aside {
		height: 100vh;
		position: sticky;
		top: 0;
	}

	.logo-layout {
		width: 50px;
		height: auto;
		padding: 20px 0 40px;
	}

	.logo-bottom {
		padding: 0 0 0 20px;
		position: absolute;
		bottom: 10px;
		width: 130px;
		display: flex;
		gap: 5px;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		/* border: 1px solid var(--bg-content); */
		border-radius: 6px;
		padding: 5px;
		color: white;
		background-color: var(--light-sub-color);

		.img-logo-bottom {
			height: auto;
			border-radius: 6px;
		}
	}

	.logo-bottom:hover {
		/* background: linear-gradient(var(--bg-sider), var(--bg-content)) padding-box,
			linear-gradient(90deg, #00c6ff, #00ffd1) border-box;
		border: 1px solid transparent;
		color: white !important;
		background-clip: padding-box, text;
		-webkit-background-clip: padding-box, text;
		-webkit-text-fill-color: white;
		box-shadow: 0 0 5px #00c6ff; */
	}

	.logo-bottom-mobile {
		padding: 5px;
		position: absolute;
		bottom: 10px;
		left: 10px;
		width: 130px;
		display: flex;
		align-items: center;
		gap: 10px;
		border-radius: 6px;

		.img-logo-bottom {
			width: 200px;
			height: auto;
			border-radius: 6px;
		}
	}

	.logo-bottom-mobile:hover {
		background: linear-gradient(var(--bg-sider), var(--bg-content)) padding-box,
			linear-gradient(90deg, #00c6ff, #00ffd1) border-box;
		border: 1px solid transparent;
		color: white !important;
		background-clip: padding-box, text;
		-webkit-background-clip: padding-box, text;
		-webkit-text-fill-color: white;
		box-shadow: 0 0 5px #00c6ff;
	}

	ul.ant-menu-inline {
		max-height: calc(100% - 360px);
		overflow-y: auto;
	}

	.ant-layout-sider-collapsed .logo-bottom {
		padding: 0 !important;
		left: 10px !important;
		width: 40px !important;

		.text-d {
			display: none;
		}
	}

	.ant-layout-sider-collapsed .logo-bottom-mobile {
		padding: 0 !important;
		left: 10px !important;
	}

	.ant-layout-sider-children {
		padding: 20px;
	}

	.ant-layout-sider-trigger {
		display: none;
	}

	.ant-menu-root {
		border: none !important;
		border-inline-end: none;
	}

	.ant-menu-dark {
		background-color: transparent !important;
	}
	.ant-menu-item:hover {
		/* background: linear-gradient(var(--bg-sider), var(--bg-content)) padding-box,
			linear-gradient(90deg, #00c6ff, #00ffd1) border-box;
		border: 1px solid transparent;
		color: white !important;
		background-clip: padding-box, text;
		-webkit-background-clip: padding-box, text;
		-webkit-text-fill-color: white;
		box-shadow: 0 0 5px #00c6ff; */
	}

	.ant-menu-item,
	.ant-menu-submenu-title {
		font-size: 16px;
		font-weight: 500;
		padding: 10px 0;
		height: auto !important;
		line-height: normal;
		background-color: transparent !important;
	}

	.ant-menu-inline-collapsed .ant-menu-item,
	.ant-menu-inline-collapsed .ant-menu-submenu-title {
		padding: 5px !important;
	}

	.ant-menu-item-only-child {
		font-size: 15px;
		font-weight: 300;
		padding: 10px 0;
	}

	.ant-menu-item-selected {
		background-color: var(--light-sub-color) !important;
		font-weight: 700;
		border-radius: 6px;
	}

	.ant-menu-item:hover {
		background-color: var(--light-sub-color) !important;
	}

	.ant-table-content {
		border-radius: 0 !important;
	}
	.ant-table-container:after {
		box-shadow: none !important;
	}
	.ant-table-content table {
		background-color: var(--bg-table);
		border-radius: 0 !important;
		border-spacing: 2px;
		padding: 5px;
	}
	.ant-table-thead tr th {
		background-color: var(--bg-table-header) !important;
		color: var(--text-primary);
	}

	.ant-table-tbody,
	.ant-table-placeholder {
		background-color: var(--bg-table-row) !important;
		color: var(--text-primary);
	}

	.ant-table-placeholder:hover {
		background-color: var(--bg-table-row) !important;
	}

	.ant-select-selector,
	.ant-pagination-item {
		background-color: var(--bg-input) !important;
		color: var(--text-primary);
		border-color: var(--border-color);
	}

	.ant-select-selector:hover {
		border-color: var(--border-color) !important;
	}

	.ant-pagination-item a,
	.ant-pagination-total-text {
		color: var(--text-primary);
	}

	.ant-table-cell-row-hover {
		background: var(--border-color) !important;
		/* background: linear-gradient(var(--bg-sider), var(--bg-content)) padding-box,
			linear-gradient(90deg, #00c6ff, #00ffd1) border-box !important; */
	}

	.ant-table-row {
		margin-top: 3px;
		margin-bottom: 3px;
	}

	.ant-table-row:hover {
		/* background: linear-gradient(var(--bg-sider), var(--bg-content)) padding-box,
			linear-gradient(90deg, #00c6ff, #00ffd1) border-box; */
		border: 1px solid transparent;
		background-clip: padding-box, text;
		-webkit-background-clip: padding-box, text;
		box-shadow: 0 0 5px #00c6ff;
	}

	.ant-tabs-tab-btn {
		color: var(--text-primary);
	}

	.ant-menu-item-divider {
		border-color: var(--border-color);
		margin: 15px 0;
	}
	.layout-header {
		background: var(--bg-header);
		height: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 10px 0px 50px;
		color: var(--text-primary);
	}

	.layout-content {
		background: var(--bg-content);
		padding: 10px;
		color: var(--text-primary);
	}

	.button-collapse {
		border-radius: 50%;
		border: 1px solid var(--bg-content);
		padding: 2px;
		margin: 0;
		width: 25px;
		height: 25px;
		background-color: var(--bg-input);
		font-weight: 200;
	}

	.button-tools {
		border-radius: var(--border-radius);
		border: 1px solid var(--border-color);
		padding: 2px 5px;
		margin: 0;
		background-color: var(--orange-color);
		font-weight: 200;
	}
}

@media (min-width: 921px) {
	.layout-header {
		padding: 0 50px;
	}
}

@media (min-width: 1444px) {
	.layout-component {
		.ant-menu-item,
		.ant-menu-submenu-title {
			padding: 10px 0;
		}

		.logo-bottom {
			padding: 0;
			bottom: 10px;

			.img-logo-bottom {
				height: auto;
				border-radius: 6px;
			}
		}

		.layout-content {
			padding: 35px;
		}
	}
}
